<div id="gtco-features-2">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ content.field_services_title.0 }}</h2>
					<p>{{ content.field_services_desc.0 }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				{{ content.field_service_video_listing }}

				</div>

				<div class="col-md-6">
					<div class="gtco-video gtco-bg" style="background-image: url({{ file_url(content.field_service_video_bg['#items'].entity.uri.value) }}); ">
						<a href="{{ content.field_service_video_url.0 }}" class="popup-youtube">{{ content.field_service_video_icon.0 }}</a>
						<div class="overlay"></div>
					</div>
				</div>
			</div>
		</div>
	</div>