<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
	<div class="gtco-staff">
		<img src="{{ file_url(content.field_testi_images['#items'].entity.uri.value) }}" alt="team-img">
		<h3>{{ content.field_subscribe_title.0 }}</h3>
		<strong class="role">{{ content.field_testimonial_title.0 }}</strong>
		<p>{{ content.field_video_desc.0 }}</p>
		<ul class="gtco-social-icons">
			<li><a href="{{ content.field_facebook_url.0 }}"><i class="fa fa-facebook"></i></a></li>
			<li><a href="{{ content.field_twitter_url.0 }}"><i class="fa fa-twitter"></i></a></li>
			<li><a href="{{ content.field_dribbble.0 }}"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="{{ content.field_github_url.0 }}"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>
</div>