<div class="gtco-section">
		<div class="gtco-container">
			<div class="row"> 
				<div class="col-md-6 animate-box contact-page-form">
					<h3>{{ content.field_contact_form_title.0 }}</h3>
					{{ content.field_contact_form.0 }}
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
					{{ content.field_contact_info}}

				</div>
			</div>
			
		</div>
	</div>