<div id="gtco-testimonial">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ content.field_testimonial_title.0 }}</h2>
				</div>
			</div>
			<div class="row animate-box">				
			
				<div class="owl-carousel-fullwidth owl-carousel owl-theme">
					{{ content.field_testimonial_listing }}
					
				</div>
			</div>
		</div>
	</div>