
<div class="col-md-3 col-sm-6 animate-box">
	<div class="feature-center">
		<span class="icon">
			{{content.field_counter_icon.0}}
		</span>

		<span class="counter js-counter" data-from="0" data-to="{{content.field_counter_val.0}}" data-speed="5000" data-refresh-interval="50">1</span>
		<span class="counter-label">{{content.field_counter_caption.0}}</span>

	</div>
</div>