<div id="gtco-team" class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ content.field_subscribe_title.0 }}</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				{{ content.field_leader_lists}}				
			</div>

		</div>
	</div>