
<div class="col-md-6">
	<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
		<span class="icon">
			{{ content.field_video_icon.0 }}
		</span>
		<div class="feature-copy">
			<h3>{{ content.field_testimonial_title.0 }}</h3>
			<p>{{ content.field_subscribe_desc.0 }}</p>
		</div>
	</div>
</div>		