<div class="gtco-cover gtco-cover-sm" style="background-image:url({{ file_url(content.field_testi_images['#items'].entity.uri.value) }});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{{ content.field_video_title.0 }}</h1>
							<h2>{{ content.field_counter_caption.0 }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>