<div id="gtco-features-2">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ content.field_video_title.0 }}</h2>
					<p>{{ content.field_video_desc.0 }}</p>
				</div>
			</div>
			
			<div class="row">
				{{ content.field_video_listings }}
			</div>
		</div>
	</div>