<div class="item">
	<div class="testimony-slide active text-center">
		<figure>
			<img src="{{ file_url(content.field_testi_images['#items'].entity.uri.value) }}" alt="user">
		</figure>
		<span>{{ content.field_testi_name.0 }} <a href="{{ content.field_testi_social_link[0]['#url']|render }}" class="twitter">{{ content.field_testi_social_link[0]['#title']|render }}</a></span>
		<blockquote>
			{{ content.field_testi_desc.0 }}
		</blockquote>
	</div>
</div>