
<div class="col-lg-4 col-md-4">
	<div class="gtco-video gtco-video-sm gtco-bg" style="background-image: url({{ file_url(content.field_video_bg_image['#items'].entity.uri.value) }}); ">
		<a href="{{ content.field_video_url.0 }}" class="popup-youtube">{{ content.field_video_icon.0 }}</a>
		<div class="overlay"></div>
	</div>
</div>