
<div id="gtco-subscribe">
	<div class="gtco-container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>{{content.field_subscribe_title.0}}</h2>
				<p>{{content.field_subscribe_desc.0}}</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-12">
				{{content.field_subscribe_form.0}}
			</div>
		</div>
	</div>
</div>