<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({{ file_url(content.field_top_banner_bg['#items'].entity.uri.value) }});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{{ content.field_top_banner_title.0 }}</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>