<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{ file_url(content.field_front_banner_image['#items'].entity.uri.value) }});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box">
							<h1>{{ content.field_front_banner_title.0 }}</h1>
							<p>
								<a href="{{ content.field_front_btn[0]['#url']|render }}" class="btn btn-primary btn-lg">{{ content.field_front_btn[0]['#title']|render }}</a> 
								<a href="{{ content.field_front_banner_btn[0]['#url']|render }}" class="btn btn-white btn-outline btn-lg">{{ content.field_front_banner_btn[0]['#title']|render }}</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>