<div id="gtco-counter" class="gtco-bg gtco-cover gtco-counter" style="background-image:url({{ file_url(content.field_front_banner_image['#items'].entity.uri.value) }});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						{{ content.field_counter_lists }}
					</div>
				</div>
			</div>
		</div>
	</div>