<div class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ content.field_video_url.0 }}</h2>
					<p>{{ content.field_video_desc.0 }}</p>
				</div>
			</div>
			<div class="row animate-box">
				{{ content.field_choose_listing }}				
			</div>
		</div>
	</div>