<div class="gtco-contact-info">
	<h3>{{ content.field_twitter_url.0 }}</h3>
	<ul>
	<li class="address">{{ content.field_address.0 }}</li>
	<li class="phone"><a href="tel:{{ content.field_github_url.0 }}">{{ content.field_github_url.0 }}</a></li>
	<li class="email"><a href="mailto:{{ content.field_video_url.0 }}">{{ content.field_video_url.0 }}</a></li>
	</ul>
</div>

					