<div class="gtco-tab-content tab-content" data-tab-content="4">
	<div class="col-md-6">
		<div class="icon icon-xlg">
			{{ content.field_video_icon.0 }}
		</div>
	</div>
	<div class="col-md-6">
		{{ content.body.0 }}

		<div class="row">
			<div class="col-md-6">
				<h2 class="uppercase">{{ content.field_left_side_title.0 }}</h2>
				<p>{{ content.field_left_desc.0 }}</p>
			</div>
			<div class="col-md-6">
				<h2 class="uppercase">{{ content.field_right.0 }}</h2>
				<p>{{ content.field_right_desc.0 }}</p>
			</div>
		</div>
	</div>
</div>