<div class="gtco-tab-content tab-content" data-tab-content="2">
	<div class="col-md-6 col-md-push-6">
		<div class="gtco-video gtco-bg" style="background-image: url({{ file_url(content.field_services_image['#items'].entity.uri.value) }}); ">
			<a href="{{ content.field_video_url.0 }}" class="popup-youtube">{{ content.field_video_icon.0 }}</a>
			<div class="overlay"></div>
		</div>
	</div>
	<div class="col-md-6 col-md-pull-6">
		{{ content.body.0 }}

		<div class="row">
			<div class="col-md-6">
				<h2 class="uppercase">{{ content.field_left_side_title.0 }}</h2>
				<p>{{ content.field_left_desc.0 }}</p>
			</div>
			<div class="col-md-6">
				<h2 class="uppercase">{{ content.field_right.0 }}</h2>
				<p>{{ content.field_right_desc.0 }}</p>
			</div>
		</div>

	</div>
</div>