{{ content.field_node_top_banner.0 }}
<section id="services" class="gtco-section">
    <div class="container">
        <div class="row">          
          <div class="col-md-12 header-section text-center">
            <h2>{{label}}</h2>
          </div> 
           <div class="service">           
            <img src="{{ file_url(content.field_services_image['#items'].entity.uri.value) }}" class="img-fluid" alt="services-detail" title="services-detail">
                 {{content.body.0}}
            </div>
        </div>     
             
    </div>
</section>   

{{ content.field_subscribe.0 }}