
<form class="form-inline">
  <div class="col-md-4 col-sm-4">
     {{ element.elements.email }}
  </div>
  <div class="col-md-4 col-sm-4">
    {{ element.elements.name }}
  </div>
  <div class="col-md-4 col-sm-4">
    {{ element.elements.actions }}
  </div>
</form>
