<div class="gtco-loader"></div>
    
    <div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-3">
                    {{ page.header }}
                </div>
                <div class="col-xs-9 text-right menu-1">
                    {{ page.primary_menu }}
                </div>
            </div>
            
        </div>
    </nav>


<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({{ bg_image_url }});">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>{{ page['#title'] }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 

 <section {{ content_attributes.addClass(content_classes) }}>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
</section>


 

<footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
        <div class="row footer-bottom">
          <div class="col-md-4 col-sm-12 footer-columns wow fadeInLeft">
            {{ page.footer_col_first }}
          </div>
           <div class="col-md-2 col-sm-12 footer-bottom-col2 wow fadeInUp">
            {{ page.footer_col_second }}
          </div>
          <div class="col-md-2 col-sm-12 footer-bottom-col2 wow fadeInUp">
          {{ page.footer_col_third }}
          </div>
          <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
          <h6>{{contact}}</h6>
            <p>{{contact_desc}}</p>
            <p><a href="tel:{{phone}}" class="phone-num">{{phone}}</a></p>
            <p><a href="mailto:{{email}}">{{email}}</a></p>
            </div>
          </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                        <small class="block">Designed by <a href="http://FreeHTML5.co/" target="_blank">FreeHTML5.co</a> Developed By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a></small>
                    </p>
                    <p class="pull-right">
                        <ul class="gtco-social-icons pull-right">
                            {% if twitter  %}
                            <li><a href="{{twitter}}"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if facebook  %}
                            <li><a href="{{facebook}}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if linkedin  %}
                            <li><a href="{{linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                            {% endif %}
                            {% if dribbble  %}
                            <li><a href="{{dribbble}}"><i class="fa fa-dribbble"></i></a></li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


